*{
	box-sizing: border-box;
	margin: 0;
}
.flex-menu{
	display: flex;
	flex-basis: 20%;
}

.hidden{
	display: none;
}

.opener:hover ~ .hidden {
	display: block;
}

/* .hidden[display="block"]{ */
	/* display: block; */
/* } */

.hidden:hover{
	display: block;
}

/*Modal form box*/
.form{
	display: none;
}
.form:target {
	display: block;
	background-color: lightgreen;
	position: absolute;
	top: 200px;
	left: 100px;
	bottom: 200px;
	right: 100px;
	z-index: 2;
}

.form p {
	text-align: center;
}
.form input{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input[type="submit"]{
	border-top-width: 10px;
}

.shadow{
	display: none;
}

.form:target + .shadow{
	position: absolute;
	top:0;
	left:0;
	display: block;
	height: 100%;
	width: 100%;
	background-color: red;
	z-index:1;
	opacity: 0.6;
}