body{
	box-sizing: border-box;
	background-color: lightgray;
}
div{
	background-color: green;
}

.grid-main{
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 50px auto;
}

.logo{
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.goods{
	display: grid;
	text-align: center;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 2em auto;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
#category{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start:1;
	grid-row-end: 2;
	height: 2em;
}
.logIn{
	text-align: center;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}
.main{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}
.cart{
	background-color: lightpurple;
}
